name: CI

on:
  push:
    branches:
      - '**'
  pull_request:

jobs:
  stone2-tests:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: Swift package tests
        working-directory: Stone2
        run: swift test
